.labelBlack{
    -fx-border-color: #0a0909;
    -fx-border-radius: 2%;
    -fx-border-width: 2 2 2 2;
}

.labelGreen{
    -fx-border-color: green;
    -fx-border-radius: 2%;
    -fx-border-width: 2 2 2 2;

}

.labelRed{
    -fx-border-color: #bb1010;
    -fx-border-radius: 2%;
    -fx-border-width: 2 2 2 2;
}