.combo-box{
    -fx-focus-color: transparent ;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #3f3f3f;
    -fx-border-width: 1 1 1 1;
    -fx-background-color: transparent;
    -fx-border-radius: 2%;
}
.text-field {
    -fx-border-color: #3f3f3f;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}
.button{
    -fx-border-radius: 20%;
    -fx-background-color: transparent;
    -fx-border-color: #3f3f3f;
}
.text-area {
    -fx-border-color: #3f3f3f;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.toggle-button{
    -fx-border-radius: 20%;
    -fx-background-color: transparent;
    -fx-border-color: #3f3f3f;
}

.toggle-button:selected:focused {
    -fx-border-color: green;
    -fx-text-fill: black;
}
